src/KaraEducationManagermentSystem/KaraEducationHubClient/Connected Services/eTeacherServiceReference/eTeacherService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="eTeacherService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50830/eTeacherService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50830/eTeacherService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50830/eTeacherService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KaraEducationManagermentService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IeTeacherService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IeTeacherService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IeTeacherService_RegisterTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterTeacher" />
  </wsdl:message>
  <wsdl:message name="IeTeacherService_RegisterTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="IeTeacherService_GetListClass_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListClass" />
  </wsdl:message>
  <wsdl:message name="IeTeacherService_GetListClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListClassResponse" />
  </wsdl:message>
  <wsdl:portType name="IeTeacherService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IeTeacherService/DoWork" message="tns:IeTeacherService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeTeacherService/DoWorkResponse" message="tns:IeTeacherService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/IeTeacherService/RegisterTeacher" message="tns:IeTeacherService_RegisterTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeTeacherService/RegisterTeacherResponse" message="tns:IeTeacherService_RegisterTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IeTeacherService/GetListClass" message="tns:IeTeacherService_GetListClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeTeacherService/GetListClassResponse" message="tns:IeTeacherService_GetListClass_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IeTeacherService" type="tns:IeTeacherService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IeTeacherService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterTeacher">
      <soap:operation soapAction="http://tempuri.org/IeTeacherService/RegisterTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListClass">
      <soap:operation soapAction="http://tempuri.org/IeTeacherService/GetListClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="eTeacherService">
    <wsdl:port name="BasicHttpBinding_IeTeacherService" binding="tns:BasicHttpBinding_IeTeacherService">
      <soap:address location="http://localhost:50830/eTeacherService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>